<!-- <app-home> -->
<title-component [title]="userMasterTitle"></title-component>
<div appContainer>
    <div>
        <form [formGroup]="searchForm" class="form-search">
            <app-horizoltal-view>
                <div class="field-view">
                    <label>{{partnerLabel}}</label>
                    <p-dropdown [options]="dropdownlistPartners" optionValue="value" optionLabel="name"
                        formControlName="partnerId" [placeholder]="placeholderSelect"
                        (onChange)="onChange($event.value)" [showClear]="true">
                    </p-dropdown>
                </div>
                <app-dropdown-field [data]="dropdownlistBranches" [label]="branchLabel" [form]="searchForm"
                    formName="branchId" [placeholder]="placeholderSelect" optionValue="value" optionLabel="name">
                </app-dropdown-field>

                <app-textbox-field [label]="loginIdLabel" [form]="searchForm" formName="loginId">
                </app-textbox-field>

                <app-textbox-field [label]="accountNameLabel" [form]="searchForm" formName="accountName">
                </app-textbox-field>

                <button pButton [label]="searchLabel" (click)="onSearch()" class="p-button-secondary search-btn"
                    icon="pi pi-search"></button>

                <div class="space"></div>

                <button pButton [label]="registLabel" routerLink="/ecoland/user-edit" class="p-button-secondary regist-btn"
                    icon="pi pi-plus-circle" style="margin: 0px;"></button>
            </app-horizoltal-view>
        </form>
    </div>
    <div style="margin-top: 10px;">
        <app-horizoltal-view>
            <app-report-page class="report-page" [page]="curentPage" [pageSize]="pageSize" [totalRecord]="totalRecord">
            </app-report-page>
            <div class="space"></div>
            <p-paginator [rows]="pageSize" [totalRecords]="totalRecord" [pageLinkSize]="pageLinkSize"
                (onPageChange)="pageClick($event)" #paginator>
            </p-paginator>
        </app-horizoltal-view>
    </div>

</div>
<div appContainer>
    <p-table [columns]="columns" [value]="dataResponse"
        styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm" selectionMode="single"
        [resizableColumns]="true" [scrollable]="true" scrollHeight="600px">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:4%">
                <col style="width:15%">
                <col style="width:7%">
                <col style="width:7%">
                <col style="width:15%">
                <col style="width:15%">
                <col style="width:30%">
                <col style="width:4%">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [style.width]="col.width" style="text-align: center;">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr [pSelectableRow]="data">
                <td style=" color: rgb(89, 130, 241);" (click)="gotoEdit(data.id)" class="click-row">
                    {{data.id}}</td>
                <td>{{data.partnerName}}</td>
                <td>{{data.branchShortName}}</td>
                <td>{{data.loginId}}</td>
                <td>{{data.accountName}}</td>
                <td>{{data.groupName}}</td>
                <td>{{data.description}}</td>
                <td style="text-align: center;">
                    <button *ngIf="currentLoginId !== data.loginId" pButton pRipple type="button" icon="pi pi-times"
                        (click)="confirm('top',data.id)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<!-- </app-home> -->
<p-confirmDialog #cd [style]="{width: '30vw'}" key="positionDialog" [position]="position"
    rejectButtonStyleClass="p-button-outlined">
    <ng-template pTemplate="footer">
        <button type="button" pButton [label]="confirmYes" (click)="cd.accept()" [style]="{width: '80px'}"></button>
        <button type="button" class="cancel-button" pButton [label]="confirmNo" (click)="cd.reject()"></button>
    </ng-template>
</p-confirmDialog>
<p-toast position="top-right"></p-toast>