
.block-login{
    margin: 50px auto;
    
}

.logo {
    background: #009FA4 url('/assets/img/title.gif') no-repeat;
    display: block;
    overflow: hidden;
    width: 302px;
    height: 0;
    margin: -56px 0px 0px 13px;
    padding-top: 24px;
    line-height: 200%;
    float: left;
}
.p-card .p-card-body{
    background: #D6D6D6;
}